{% extends "base.html" %}
{% block title %}How to use{% endblock %}
{% block about %}disabled{% endblock %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <div class="card shadow-lg mb-5">
                <div class="card-body p-sm-5">
                    <a href="https://github.com/K-Alex-N/get_data_from_github">Ссылка на github проекта</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
