{% extends "base.html" %}
{% block title %}How to use{% endblock %}
{% block how_to_use %}disabled{% endblock %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <div class="card shadow-lg mb-5">
                <div class="card-body p-sm-5">
                    Чтобы добавить новое задание на парсинг нужно:
                    <ul>
                        <li class="list-item">Зарегестрироваться</li>
                        <li class="list-item">Нажать кнопку "Add parser"</li>
                        <ul>
                            <li class="list-item">Добавлять нужно полную сслыку на репозиторий</li>
                            <li class="list-item">Каждая ссылка с новой строки</li>
                            <li class="list-item">Количество ссылок не ограничено</li>
                            <li class="list-item">Дубли удаляются</li>
                        </ul>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
